.grid-container{
    height: 100%;
    .header-container{
        height: 50px;
    }
    table{
        table-layout: fixed;
        .mat-header-cell{
            background-color: #a9a9b8;
        }
        .btn-info{
            color: white;
        }
    }
}

.hide { display: none; }

::ng-deep{
    .mat-sort-header-content{
        color: white;
        font-size: 16px;
    }
    
    .mat-sort-header-arrow{
        color: white;
    }
    .custom-modalbox{
        .mat-dialog-container{
            padding: 4px 4px;
            padding-bottom: 8px;
        }
    }
}